/* body */
body {
	background-color: #3fc1c9 !important;
	margin: 0;
    padding: 0;
}

header {
	background-color: #364f6b;
	color: #f5f5f5;
}
header h1 {
    margin: 0;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #364f6b;
	color: #f5f5f5;
}

.title {
	text-align: center;
	
}

.sub-title {
	text-align: center;
}

.box {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.btn-box {
	background-color: #d563a4 !important;
	color: #f5f5f5 !important;
	border-color:  #d563a4 !important;
	margin-left: 0px !important; 
	width: 33.3%;
}

.resume-description{
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #364f6b;
}

.detail-box {
	background-color: #f5f5f5 !important;
	border-radius: 5px;
}


