/* body */
body {
	background-color: #f9ccac !important;
	margin: 0;
    padding: 0;
}

header {
	background-color: #e0876a;
	color: #4f3222;
}

header h1 {
    margin: 0;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #e0876a;
	color: #4f3222;
}

.title {
	text-align: center;
	padding-top: 1%;
}

.sub-title {
	text-align: center;
	padding: 1%;
}

.resume-description{
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #4f3222;
	padding: 3%;
}

.resume-information{
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;

}

.tab-title{
	border-bottom-color:#fbefcc !important;
	color: #cc6948 !important;
	font-weight: bold !important;
}

.tab-title:hover{
	border-color: #fbefcc !important;
	background-color: #fbefcc !important;
	color: #4f3222 !important;
	font-weight: bold !important;
	border-radius: 0;
}

.tab-info li a.active{
	border-color: #fbefcc !important;
	background-color:#fbefcc !important; 
	color: #4f3222 !important;
	font-weight: bold !important;
}

.tab-body{
	background-color: #fbefcc !important;
	padding: 4%;
}

footer p a{
	color: #4f3222;
}

.loading{
	position: absolute;
    top: 50%;
    left: 50%;
}
 
/* timeline element style - INI */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #7ee283;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #3fcf47;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/* timeline element style -FIN */
