/* body */
body {
	background-color: #f9ccac !important;
	margin: 0;
    padding: 0;
}

header {
	background-color: #e0876a;
	color: #4f3222;
}

header h1 {
    margin: 0;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:#f9ccac;
	color: #4f3222; 
}

.title {
	text-align: center;
	padding-top: 1%;
}

.sub-title {
	text-align: center;
	padding: 1%;
}

.resume-description{
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #4f3222;
	padding: 3%;
}

.resume-detail{
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;

}

.tab-title{
	border-bottom-color:#fbefcc !important;
	color: #cc6948 !important;
	font-weight: bold !important;
}

.tab-title:hover{
	border-color: #fbefcc !important;
	background-color: #fbefcc !important;
	color: #4f3222 !important;
	font-weight: bold !important;
	border-radius: 0;
}

.tab-info li a.active{
	border-color: #fbefcc !important;
	background-color:#fbefcc !important; 
	color: #4f3222 !important;
	font-weight: bold !important;
}

.tab-body{
	background-color: #fbefcc !important;
	padding: 4%;
}

footer p{
	color: #4f3222;
	text-align: right;
}

.loading{
	position: absolute;
    top: 50%;
    left: 50%;
}
 
.contact-info{
	font-size: small;
	text-align: center;
}

.contact-info a{
	color: #4f3222;
	font-weight: bold;
}
